---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Icon from '../components/Icon.astro'
import RootLayout from './RootLayout.astro'
interface FrontMatterProps {
  title?: string
  preview?: string
  github?: string
  stacks?: StacksInterface[]
}

export interface StacksInterface {
  name: string
  icon: string
}

const {
    title = 'Teerut Portfolio',
    description = 'Teerut is a full-stack developer with a passion for building beautiful and functional websites and applications.',
    url = 'https://teerut.me',
    author = 'Teerut Srithongdee',
    ogImage = "/profile_2.webp"
} = Astro.props
---

<RootLayout title={title} description={description} url={url} author={author} ogImage={ogImage}>
<Header />
  <div class="container">
    <div class="space-content my-5">
      <slot />
    </div>
  </div>
  <Footer />
</DefaultLayout>
