---
import Icon from '../components/Icon.astro'
import { Icon as IconAstro } from 'astro-icon'
import DefaultLayout from './DefaultLayout.astro'

interface FrontMatterProps {
  title: string
  description?: string
  ogImage?: string
  preview?: string
  github?: string
  stacks?: StacksInterface[]
}

export interface StacksInterface {
  name: string
  icon: string
}

const { frontmatter } = Astro.props as { frontmatter: FrontMatterProps }
const { stacks, title, preview, github, description, ogImage } = frontmatter
---

<DefaultLayout title={title} description={description} ogImage={ogImage}>
  <div class="container">
    <a
      href="/projects"
      style="text-decoration: none !important;"
      class="flex w-fit items-center gap-1 print:hidden rounded-lg border-0 p-2 hover:bg-slate-200 hover:dark:bg-white/20"
    >
      <IconAstro name="ic:baseline-arrow-back-ios" class="w-[1.2rem]" />
      Back
    </a>
    <div class="space-content my-5">
      {
        (preview || github) && (
          <div class="">
            {preview && (
              <div class="truncate">
                Preview :{' '}
                <a target="_blank" href={preview}>
                  {preview}
                </a>
              </div>
            )}
            {github && (
              <div class="truncate">
                Github :{' '}
                <a target="_blank" href={github}>
                  {github}
                </a>
              </div>
            )}
          </div>
        )
      }
      {
        stacks && (
          <>
            <div class="flex flex-wrap items-center gap-2 md:gap-4 print:hidden">
              {stacks?.map((stack) => (
                <Icon data={stack} />
              ))}
            </div>
            <div class="h-[1px] w-full bg-black/10 dark:bg-white/10 md:h-[2px] print:hidden" />
          </>
        )
      }
      <slot />
    </div>
  </div>
</DefaultLayout>
